<footer>
    <nav class="nav2">

        <div class="logo2">
            <img src="https://i.postimg.cc/xTqb6YK3/image-2.png">
        </div>

        <div class="redes">

            <a href="#fb" class="nav_item2"><img src="/views/assets/face.svg"></a> 

            <a href="#wsp" class="nav_item2"><img src="/views/assets/wsp.svg"></a> 

            <a href="#ig" class="nav_item2"><img src="/views/assets/ig.svg"></a> 

        </div>

        <div class="copyright">
            <h3><img src="/views/assets/copyright.svg">Copyright 2022</h1>
        </div>
    </nav>
    
</footer>