<header>

    <nav class="nav">
        <div class="navConteiner">

            <div class="burger">
                <img src="/views/assets/menu.svg" class="nav_imgMenu">
            </div>
            
            <div class="nav_menu">
              
                <a href="/views/pages/listProducts.html" class="nav_item">Productos</a>

                <a href="/views/pages/aboutUs.html" class="nav_item">Sobre Nosotros</a>

                <a href="/views/pages/location.html" class="nav_item">Dónde encontrarnos</a>
                
            </div> 

            <div class="logo">
                <a href="/views/pages/home.html"><img src="https://i.postimg.cc/xTqb6YK3/image-2.png"></a>
            </div>

            <div class="icons">
                
                <a href="/views/pages/cart.html"><img src="/views/assets/shoppingBag.svg"></a> 
               
                <a href="/views/pages/login.html"><img src="/views/assets/user.svg"></a>  
                
            </div>

        </div>
    </nav>
</header>
