<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Planner</title>
    <link rel="stylesheet" href="/views/styles/index.css"/>
    <link rel="stylesheet" href="/views/styles/main/listProducts.css"/>
    <link rel="stylesheet" href="/views/styles/footer.css"/>
    <link rel="stylesheet" href="/views/styles/headerMobile.css"/>
    <link rel="stylesheet" href="/views/assets">

</head>

<body>
    
    <header>

        <nav class="nav">
            <div class="navConteiner">

                <div class="burger">
                    <img src="/views/assets/menu.svg" class="nav_imgMenu">
                </div>
                
                <div class="nav_menu">
                  
                    <a href="/views/pages/listProducts.html" class="nav_item">Productos</a>

                    <a href="/views/pages/aboutUs.html" class="nav_item">Sobre Nosotros</a>

                    <a href="/views/pages/location.html" class="nav_item">Dónde encontrarnos</a>
                    
                </div> 

                <div class="logo">
                    <a href="/views/pages/home.html"><img src="https://i.postimg.cc/xTqb6YK3/image-2.png"></a>
                </div>

                <div class="icons">
                    
                    <a href="/views/pages/cart.html"><img src="/views/assets/shoppingBag.svg"></a> 
                   
                    <a href="/views/pages/login.html"><img src="/views/assets/user.svg"></a>  
                    
                </div>

            </div>
        </nav>
    </header>

    <main>

        <section class="list" id="listProducts">
            <h1>Productos</h1>
            <div class="full-cont">
                <div class="caja">
                    <img src="/views/assets/agenda.jpg" alt="">
                    <div class="desc">
                        <span>Mooving</span>
                        <h2>Agenda A4 2023</h2>
                        <h4>$5200</h4>
                    </div>
                    <a href="#" class="btnC"><img src="/views/assets/cart-add-solid-24.png" alt=""></box-icon></a>
                </div>
                <div class="caja">
                    <img src="/views/assets/agenda.jpg" alt="">
                    <div class="desc">
                        <span>Mooving</span>
                        <h2>Agenda A4 2023</h2>
                        <h4>$$$$$</h4>
                    </div>
                    <a href="#" class="btnC"><img src="/views/assets/cart-add-solid-24.png" alt=""></a>
                </div>

                <div class="caja">
                    <img src="/views/assets/agenda.jpg" alt="">
                    <div class="desc">
                        <span>Mooving</span>
                        <h2>Agenda A4 2023</h2>
                        <h4>$$$$$</h4>
                    </div>
                    <a href="#" class="btnC"><img src="/views/assets/cart-add-solid-24.png" alt=""></a>
                </div>

                <div class="caja">
                    <img src="/views/assets/agenda.jpg" alt="">
                    <div class="desc">
                        <span>Mooving</span>
                        <h2>Agenda A4 2023</h2>
                        <h4>$$$$$</h4>
                    </div>
                    <a href="#" class="btnC"><img src="/views/assets/cart-add-solid-24.png" alt=""></a>
                </div>

                <div class="caja">
                    <img src="/views/assets/agenda.jpg" alt="">
                    <div class="desc">
                        <span>Mooving</span>
                        <h2>Agenda A4 2023</h2>
                        <h4>$$$$$</h4>
                    </div>
                    <a href="#" class="btnC"><img src="/views/assets/cart-add-solid-24.png" alt=""></a>
                </div>

                <div class="caja">
                    <img src="/views/assets/agenda.jpg" alt="">
                    <div class="desc">
                        <span>Mooving</span>
                        <h2>Agenda A4 2023</h2>
                        <h4>$$$$$</h4>
                    </div>
                    <a href="#" class="btnC"><img src="/views/assets/cart-add-solid-24.png" alt=""></a>
                </div>

                <div class="caja">
                    <img src="/views/assets/agenda.jpg" alt="">
                    <div class="desc">
                        <span>Mooving</span>
                        <h2>Agenda A4 2023</h2>
                        <h4>$$$$$</h4>
                    </div>
                    <a href="#" class="btnC"><img src="/views/assets/cart-add-solid-24.png" alt=""></a>
                </div>
            </div>
        </section> 
    </main>

    <footer>
        <nav class="nav2">

            <div class="logo2">
                <img src="https://i.postimg.cc/xTqb6YK3/image-2.png">
            </div>

            <div class="redes">

                <a href="#fb" class="nav_item2"><img src="/views/assets/face.svg"></a> 

                <a href="#wsp" class="nav_item2"><img src="/views/assets/wsp.svg"></a> 

                <a href="#ig" class="nav_item2"><img src="/views/assets/ig.svg"></a> 

            </div>

            <div class="copyright">
                <h3><img src="/views/assets/copyright.svg">Copyright 2022</h1>
            </div>
        </nav>
        
    </footer>
</body>
</html>
