<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Planner</title>
    <link rel="stylesheet" href="/views/styles/index.css"/>
    <link rel="stylesheet" href="/views/styles/main/listProducts.css"/>
    <link rel="stylesheet" href="/views/styles/footer.css"/>
    <link rel="stylesheet" href="/views/styles/headerMobile.css"/>
    <link rel="stylesheet" href="/views/assets">

</head>

<body>
    
    <%- include ('../partials/header.ejs') %>

    <main>

        <section class="list" id="listProducts">
            <h1>Productos</h1>
            <div class="full-cont">
                <div class="caja">
                    <img src="/views/assets/agenda.jpg" alt="">
                    <div class="desc">
                        <span>Mooving</span>
                        <h2>Agenda A4 2023</h2>
                        <h4>$5200</h4>
                    </div>
                    <a href="#" class="btnC"><img src="/views/assets/cart-add-solid-24.png" alt=""></box-icon></a>
                </div>
                <div class="caja">
                    <img src="/views/assets/agenda.jpg" alt="">
                    <div class="desc">
                        <span>Mooving</span>
                        <h2>Agenda A4 2023</h2>
                        <h4>$$$$$</h4>
                    </div>
                    <a href="#" class="btnC"><img src="/views/assets/cart-add-solid-24.png" alt=""></a>
                </div>

                <div class="caja">
                    <img src="/views/assets/agenda.jpg" alt="">
                    <div class="desc">
                        <span>Mooving</span>
                        <h2>Agenda A4 2023</h2>
                        <h4>$$$$$</h4>
                    </div>
                    <a href="#" class="btnC"><img src="/views/assets/cart-add-solid-24.png" alt=""></a>
                </div>

                <div class="caja">
                    <img src="/views/assets/agenda.jpg" alt="">
                    <div class="desc">
                        <span>Mooving</span>
                        <h2>Agenda A4 2023</h2>
                        <h4>$$$$$</h4>
                    </div>
                    <a href="#" class="btnC"><img src="/views/assets/cart-add-solid-24.png" alt=""></a>
                </div>

                <div class="caja">
                    <img src="/views/assets/agenda.jpg" alt="">
                    <div class="desc">
                        <span>Mooving</span>
                        <h2>Agenda A4 2023</h2>
                        <h4>$$$$$</h4>
                    </div>
                    <a href="#" class="btnC"><img src="/views/assets/cart-add-solid-24.png" alt=""></a>
                </div>

                <div class="caja">
                    <img src="/views/assets/agenda.jpg" alt="">
                    <div class="desc">
                        <span>Mooving</span>
                        <h2>Agenda A4 2023</h2>
                        <h4>$$$$$</h4>
                    </div>
                    <a href="#" class="btnC"><img src="/views/assets/cart-add-solid-24.png" alt=""></a>
                </div>

                <div class="caja">
                    <img src="/views/assets/agenda.jpg" alt="">
                    <div class="desc">
                        <span>Mooving</span>
                        <h2>Agenda A4 2023</h2>
                        <h4>$$$$$</h4>
                    </div>
                    <a href="#" class="btnC"><img src="/views/assets/cart-add-solid-24.png" alt=""></a>
                </div>
            </div>
        </section> 
    </main>

    <%- include ('../partials/footer.ejs') %>
    
</body>
</html>
