<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Planner</title>
    <link rel="stylesheet" href="/views/styles/index.css"/>
    <link rel="stylesheet" href="/views/styles/main/location.css"/>
    <link rel="stylesheet" href="/views/styles/footer.css"/>
    <link rel="stylesheet" href="/views/styles/headerMobile.css"/>
    <link rel="stylesheet" href="/views/assets">

</head>

<body>
    
    <header>

        <nav class="nav">
            <div class="navConteiner">

                <div class="burger">
                    <img src="/views/assets/menu.svg" class="nav_imgMenu">
                </div>
                
                <div class="nav_menu">
                  
                    <a href="/views/pages/listProducts.html" class="nav_item">Productos</a>

                    <a href="/views/pages/aboutUs.html" class="nav_item">Sobre Nosotros</a>

                    <a href="/views/pages/location.html" class="nav_item">Dónde encontrarnos</a>
                    
                </div> 

                <div class="logo">
                    <a href="/views/pages/home.html"><img src="https://i.postimg.cc/xTqb6YK3/image-2.png"></a>
                </div>

                <div class="icons">
                    
                    <a href="/views/pages/cart.html"><img src="/views/assets/shoppingBag.svg"></a> 
                   
                    <a href="/views/pages/login.html"><img src="/views/assets/user.svg"></a>  
                    
                </div>

            </div>
        </nav>
    </header>

    <main>

        <section class="location" id="location">
            <div class="details">
                <span>Dónde encontrarnos</span>
                <h2>Visita nuestro local, contactanos o compra desde nuestra página</h2>
                <h3>Nuestro local :</h3>
                <div class="contact">
                    <li>
                        <img src="/views/assets/map-solid.svg">
                        <p>Peatonal San Juan, Argentina</p>
                    </li>
                    <li>
                        <img src="/views/assets/email.svg">
                        <p>easyPlannerStore@gmail.com</p>
                    </li>
                    <li>
                        <img src="/views/assets/phone.svg">
                        <p>+54 9 2645136019</p>
                    </li>
                    <li>
                        <img src="/views/assets/time.svg">
                        <p>Lunes a Viernes: 9 a 13hs, 18 a 21hs</p>
                    </li>
                </div>
            </div>

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3400.2874012440016!2d-68.5248545249908!3d-31.543726302417717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96816a9e650fdecf%3A0xa9e7f151c774a09!2sTucum%C3%A1n%20Sur%2C%20San%20Juan!5e0!3m2!1ses!2sar!4v1681269658502!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        
        </section> 

    </main>

    <footer>
        <nav class="nav2">

            <div class="logo2">
                <img src="https://i.postimg.cc/xTqb6YK3/image-2.png">
            </div>

            <div class="redes">

                <a href="#fb" class="nav_item2"><img src="/views/assets/face.svg"></a> 

                <a href="#wsp" class="nav_item2"><img src="/views/assets/wsp.svg"></a> 

                <a href="#ig" class="nav_item2"><img src="/views/assets/ig.svg"></a> 

            </div>

            <div class="copyright">
                <h3><img src="/views/assets/copyright.svg">Copyright 2022</h1>
            </div>
        </nav>
        
    </footer>
</body>
</html>
